.color_333{
    color:#333;
}
.color_666{
    color:#666;
}
.color_999{
    color:#999;
}
.color_golden{
    color:#3e280c;
}
.font_12{
    font-size:12px!important;
}
.font_14{
    font-size:14px;
    white-space:nowrap;
}
.font_16{
    font-size:16px!important;
}
.font_20{
    font-size:20px;
}
.font_24{
    font-size:24px;
}
a:hover{
    color:#333;
    text-decoration:none;
}
input:focus{
    outline:none;
    color:#333;
}
ul{
    list-style: none;
}
/*头部样式*/
.my_input{
    width:60%;
    border:1px solid #666;
    border-radius:15px;
}
input.my_input:nth-child(2){
    width:40px;
    margin-left:6px;
    cursor:pointer;
}
.search_bg{
    border:0;
}
/*底部样式*/
div.row>div.col-lg-2>ul>li>a{
    font-size:12px;
    color:#888;
}
@media screen and (min-width:991px){
    .my_coll_button{
        display:none;
    }
    .my_coll_content{
        display:block!important;
    }
}
@media screen and (max-width:990px){
    .my_coll_button{
        /*display:block;*/
        position:absolute;
        top:-3px;
        right:8px;
    }
}
/*主页背景轮播样式*/
.bg_img{
    width:100%;
    height:220px;
}
.bg_img>img{
    width:100%;
    height:100%;
}
.bg_video{
    width:100%;
    height:100%;
    object-fit: fill;
}
.bg_text {
    margin-top:100px;
}
@media screen and (min-width:300px){
    .bg_img{
        height:220px;
    }
}
@media screen and (min-width:768px) and (max-width:990px){
    .bg_img{
        height:450px;
    }
}
@media screen and (min-width:991px){
    .bg_img{
        position:absolute;
        top:0;
        left:0;
        height:600px;
        z-index:-1;
    }
    /*.my_img{*/
        /*/!*z-index: -1;*!/*/
    /*}*/
    /*.my_video{*/
        /*z-index:0;*/
    /*}*/
}
@media screen and (min-width:1025px){
    .bg_img {
        height: 825px;
    }
}
@media screen and (max-width:990px){
    .bg_text{
        display:none;
    }
}
@media screen and (max-width:1100px){
    .bg_text {
        margin-top:60px;
    }
}
/*主页主体内容样式*/
.img_box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media screen and (min-width:991px){
    .img_box{
        width:20%;
        height:70px;
        background-image: url("../img/index-nav-icon1.jpg");
        background-size: contain;
    }
    .my_section_pic2{
        width:18%;
        background-image:url("../img/index-nav-icon1.jpg")
    }
    .my_section_pic3{
        background-image:url("../img/index-nav-icon2.jpg")
    }
    .my_section_pic4{
       height: 40px; margin-top: 15px;
        background-image:url("../img/index-nav-icon3.jpg")
    }
    div.text_box{
        padding-left:15px;
    }
    div.text_box>p:last-child{
        font-size: 14px;
        color:#555;
    }
    .my_section_pic4+div.text_box{
        padding-left:0;
    }
    div.text_box>p:nth-child(2){
        color:#555;
        font-size: 18px;
        padding-top:10px;
    }
    .only_border{
        border-left:1px solid #eee;
        border-right:1px solid #eee;
    }
}
@media screen and (max-width:990px){
    .img_box{
        width:40%;
        height:150px;
    }
    .my_section_pic1{
        background-image:url("../img/img1.jpg")
    }
    .my_section_pic2{
        background-image:url("../img/img2.jpg")
    }
    .my_section_pic3{
        background-image:url("../img/img3.jpg")
    }
    .my_section_pic4{
        background-image:url("../img/img4.jpg")
    }
    .text_box{
        width:60%;
        height:150px;
        text-align: center;
        padding-top:30px ;
        /*background-image: url("../img/text_bg1.jpg");*/
        background-size: cover;
        border:1px solid white;
        box-shadow:2px 2px 20px -8px #999999;
        color:#3e280c;
    }
    .text_box>p:last-child{
        font-size: 12px;
    }
    div.row>div{
        padding:0;
    }

}

